:root {
  color-scheme: light;
  -webkit-font-smoothing: antialiased;

  /* 默认亮色方案由 #20a6fc 生成。 */
  --mat-color-primary: #00639c;
  --mat-color-on-primary: #fff;
  --mat-color-primary-container: #cee5ff;
  --mat-color-on-primary-container: #001d33;
  --mat-color-primary-fixed: #cee5ff;
  --mat-color-primary-fixed-dim: #96ccff;
  --mat-color-on-primary-fixed: #001d33;
  --mat-color-on-primary-fixed-variant: #004a76;
  --mat-color-secondary: #51606f;
  --mat-color-on-secondary: #fff;
  --mat-color-secondary-container: #d4e4f6;
  --mat-color-on-secondary-container: #0d1d2a;
  --mat-color-secondary-fixed: #d4e4f6;
  --mat-color-secondary-fixed-dim: #b8c8da;
  --mat-color-on-secondary-fixed: #0d1d2a;
  --mat-color-on-secondary-fixed-variant: #3a4857;
  --mat-color-tertiary: #68587a;
  --mat-color-on-tertiary: #fff;
  --mat-color-tertiary-container: #efdbff;
  --mat-color-on-tertiary-container: #231533;
  --mat-color-tertiary-fixed: #efdbff;
  --mat-color-tertiary-fixed-dim: #d3bfe7;
  --mat-color-on-tertiary-fixed: #231533;
  --mat-color-on-tertiary-fixed-variant: #504162;
  --mat-color-error: #ba1a1a;
  --mat-color-on-error: #fff;
  --mat-color-error-container: #ffdad6;
  --mat-color-on-error-container: #410002;
  --mat-color-background: #f8f9ff;
  --mat-color-on-background: #191c20;
  --mat-color-surface: #f8f9ff;
  --mat-color-surface-dim: #d8dae0;
  --mat-color-surface-bright: #f8f9ff;
  --mat-color-surface-container-lowest: #fff;
  --mat-color-surface-container-low: #f2f3f9;
  --mat-color-surface-container: #eceef3;
  --mat-color-surface-container-high: #e6e8ed;
  --mat-color-surface-container-highest: #e1e2e8;
  --mat-color-on-surface: #191c20;
  --mat-color-surface-variant: #dee3eb;
  --mat-color-on-surface-variant: #42474e;
  --mat-color-outline: #72787e;
  --mat-color-outline-variant: #c2c7ce;
  --mat-color-inverse-surface: #2e3135;
  --mat-color-inverse-on-surface: #eff1f6;
  --mat-color-inverse-primary: #96ccff;
  --mat-color-shadow: #000;
  --mat-color-scrim: #000;
  --mat-color-surface-tint: #00639c;
  --mat-shape-corner-extra-small: 4px;
  --mat-shape-corner-small: 8px;
  --mat-shape-corner-medium: 12px;
  --mat-shape-corner-large: 16px;
  --mat-shape-corner-extra-large: 28px;
  --mat-shape-corner-full: 9999px;
  --mat-type-label-large-font: system-ui, sans-serif;
  --mat-type-label-large-size: .875rem;
  --mat-type-label-large-line-height: 1.25rem;
  --mat-type-label-large-weight: 500;
  --mat-type-label-large-tracking: .00625rem;
  --mat-type-body-medium-font: system-ui, sans-serif;
  --mat-type-body-medium-size: .875rem;
  --mat-type-body-medium-line-height: 1.25rem;
  --mat-type-title-large-font: system-ui, sans-serif;
  --mat-type-title-large-size: 1.375rem;
  --mat-type-title-large-line-height: 1.75rem;
  --mat-shadow-level-0: none;
  --mat-shadow-level-1: 0 1px 2px rgb(0 0 0 / 20%), 0 1px 3px 1px rgb(0 0 0 / 10%);
  --mat-shadow-level-2: 0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px 2px rgb(0 0 0 / 15%);
  --mat-shadow-level-3: 0 4px 8px 3px rgb(0 0 0 / 15%), 0 1px 3px rgb(0 0 0 / 30%);
  --mat-motion-duration-short: 150ms;
  --mat-motion-duration-medium: 300ms;
  --mat-motion-duration-long: 500ms;
  --mat-motion-easing-standard: cubic-bezier(.2, 0, 0, 1);
  --mat-motion-easing-emphasized: cubic-bezier(.2, 0, 0, 1);
  --mat-state-hover-opacity: .08;
  --mat-state-focus-opacity: .1;
  --mat-state-pressed-opacity: .1;
  --mat-state-dragged-opacity: .16;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-mat-theme]) {
    color-scheme: dark;

    --mat-color-primary: #96ccff;
    --mat-color-on-primary: #003352;
    --mat-color-primary-container: #004a76;
    --mat-color-on-primary-container: #cee5ff;
    --mat-color-secondary: #b8c8da;
    --mat-color-on-secondary: #23323f;
    --mat-color-secondary-container: #3a4857;
    --mat-color-on-secondary-container: #d4e4f6;
    --mat-color-tertiary: #d3bfe7;
    --mat-color-on-tertiary: #392a49;
    --mat-color-tertiary-container: #504162;
    --mat-color-on-tertiary-container: #efdbff;
    --mat-color-error: #ffb4ab;
    --mat-color-on-error: #690005;
    --mat-color-error-container: #93000a;
    --mat-color-on-error-container: #ffdad6;
    --mat-color-background: #111418;
    --mat-color-on-background: #e1e2e8;
    --mat-color-surface: #111418;
    --mat-color-surface-dim: #111418;
    --mat-color-surface-bright: #37393e;
    --mat-color-surface-container-lowest: #0c0f13;
    --mat-color-surface-container-low: #191c20;
    --mat-color-surface-container: #1d2024;
    --mat-color-surface-container-high: #282a2e;
    --mat-color-surface-container-highest: #323539;
    --mat-color-on-surface: #e1e2e8;
    --mat-color-surface-variant: #42474e;
    --mat-color-on-surface-variant: #c2c7ce;
    --mat-color-outline: #8c9198;
    --mat-color-outline-variant: #42474e;
    --mat-color-inverse-surface: #e1e2e8;
    --mat-color-inverse-on-surface: #2e3135;
    --mat-color-inverse-primary: #00639c;
    --mat-color-surface-tint: #96ccff;
  }
}
