@theme inline {
  --color-mat-primary: var(--mat-sys-color-primary);
  --color-mat-primary-dim: var(--mat-sys-color-primary-dim);
  --color-mat-on-primary: var(--mat-sys-color-on-primary);
  --color-mat-primary-container: var(--mat-sys-color-primary-container);
  --color-mat-on-primary-container: var(--mat-sys-color-on-primary-container);
  --color-mat-primary-fixed: var(--mat-sys-color-primary-fixed);
  --color-mat-primary-fixed-dim: var(--mat-sys-color-primary-fixed-dim);
  --color-mat-on-primary-fixed: var(--mat-sys-color-on-primary-fixed);
  --color-mat-on-primary-fixed-variant: var(--mat-sys-color-on-primary-fixed-variant);
  --color-mat-secondary: var(--mat-sys-color-secondary);
  --color-mat-secondary-dim: var(--mat-sys-color-secondary-dim);
  --color-mat-on-secondary: var(--mat-sys-color-on-secondary);
  --color-mat-secondary-container: var(--mat-sys-color-secondary-container);
  --color-mat-on-secondary-container: var(--mat-sys-color-on-secondary-container);
  --color-mat-secondary-fixed: var(--mat-sys-color-secondary-fixed);
  --color-mat-secondary-fixed-dim: var(--mat-sys-color-secondary-fixed-dim);
  --color-mat-on-secondary-fixed: var(--mat-sys-color-on-secondary-fixed);
  --color-mat-on-secondary-fixed-variant: var(--mat-sys-color-on-secondary-fixed-variant);
  --color-mat-tertiary: var(--mat-sys-color-tertiary);
  --color-mat-tertiary-dim: var(--mat-sys-color-tertiary-dim);
  --color-mat-on-tertiary: var(--mat-sys-color-on-tertiary);
  --color-mat-tertiary-container: var(--mat-sys-color-tertiary-container);
  --color-mat-on-tertiary-container: var(--mat-sys-color-on-tertiary-container);
  --color-mat-tertiary-fixed: var(--mat-sys-color-tertiary-fixed);
  --color-mat-tertiary-fixed-dim: var(--mat-sys-color-tertiary-fixed-dim);
  --color-mat-on-tertiary-fixed: var(--mat-sys-color-on-tertiary-fixed);
  --color-mat-on-tertiary-fixed-variant: var(--mat-sys-color-on-tertiary-fixed-variant);
  --color-mat-error: var(--mat-sys-color-error);
  --color-mat-error-dim: var(--mat-sys-color-error-dim);
  --color-mat-on-error: var(--mat-sys-color-on-error);
  --color-mat-error-container: var(--mat-sys-color-error-container);
  --color-mat-on-error-container: var(--mat-sys-color-on-error-container);
  --color-mat-background: var(--mat-sys-color-background);
  --color-mat-on-background: var(--mat-sys-color-on-background);
  --color-mat-surface: var(--mat-sys-color-surface);
  --color-mat-surface-dim: var(--mat-sys-color-surface-dim);
  --color-mat-surface-bright: var(--mat-sys-color-surface-bright);
  --color-mat-surface-container-lowest: var(--mat-sys-color-surface-container-lowest);
  --color-mat-surface-container-low: var(--mat-sys-color-surface-container-low);
  --color-mat-surface-container: var(--mat-sys-color-surface-container);
  --color-mat-surface-container-high: var(--mat-sys-color-surface-container-high);
  --color-mat-surface-container-highest: var(--mat-sys-color-surface-container-highest);
  --color-mat-on-surface: var(--mat-sys-color-on-surface);
  --color-mat-surface-variant: var(--mat-sys-color-surface-variant);
  --color-mat-on-surface-variant: var(--mat-sys-color-on-surface-variant);
  --color-mat-outline: var(--mat-sys-color-outline);
  --color-mat-outline-variant: var(--mat-sys-color-outline-variant);
  --color-mat-inverse-surface: var(--mat-sys-color-inverse-surface);
  --color-mat-inverse-on-surface: var(--mat-sys-color-inverse-on-surface);
  --color-mat-inverse-primary: var(--mat-sys-color-inverse-primary);
  --color-mat-shadow: var(--mat-sys-color-shadow);
  --color-mat-scrim: var(--mat-sys-color-scrim);
  --color-mat-surface-tint: var(--mat-sys-color-surface-tint);
  --font-mat-brand: var(--mat-ref-typeface-brand);
  --font-mat-plain: var(--mat-ref-typeface-plain);
  --radius-mat-none: var(--mat-sys-shape-corner-none);
  --radius-mat-extra-small: var(--mat-sys-shape-corner-extra-small);
  --radius-mat-small: var(--mat-sys-shape-corner-small);
  --radius-mat-medium: var(--mat-sys-shape-corner-medium);
  --radius-mat-large: var(--mat-sys-shape-corner-large);
  --radius-mat-large-increased: var(--mat-sys-shape-corner-large-increased);
  --radius-mat-extra-large: var(--mat-sys-shape-corner-extra-large);
  --radius-mat-extra-large-increased: var(--mat-sys-shape-corner-extra-large-increased);
  --radius-mat-extra-extra-large: var(--mat-sys-shape-corner-extra-extra-large);
  --radius-mat-full: var(--mat-sys-shape-corner-full);
  --text-mat-display-large: var(--mat-sys-typescale-display-large-size);
  --text-mat-display-large--line-height: var(--mat-sys-typescale-display-large-line-height);
  --text-mat-display-large--letter-spacing: var(--mat-sys-typescale-display-large-tracking);
  --text-mat-display-large--font-weight: var(--mat-sys-typescale-display-large-weight);
  --text-mat-emphasized-display-large: var(--mat-sys-typescale-emphasized-display-large-size);
  --text-mat-emphasized-display-large--line-height: var(--mat-sys-typescale-emphasized-display-large-line-height);
  --text-mat-emphasized-display-large--letter-spacing: var(--mat-sys-typescale-emphasized-display-large-tracking);
  --text-mat-emphasized-display-large--font-weight: var(--mat-sys-typescale-emphasized-display-large-weight);
  --text-mat-display-medium: var(--mat-sys-typescale-display-medium-size);
  --text-mat-display-medium--line-height: var(--mat-sys-typescale-display-medium-line-height);
  --text-mat-display-medium--letter-spacing: var(--mat-sys-typescale-display-medium-tracking);
  --text-mat-display-medium--font-weight: var(--mat-sys-typescale-display-medium-weight);
  --text-mat-emphasized-display-medium: var(--mat-sys-typescale-emphasized-display-medium-size);
  --text-mat-emphasized-display-medium--line-height: var(--mat-sys-typescale-emphasized-display-medium-line-height);
  --text-mat-emphasized-display-medium--letter-spacing: var(--mat-sys-typescale-emphasized-display-medium-tracking);
  --text-mat-emphasized-display-medium--font-weight: var(--mat-sys-typescale-emphasized-display-medium-weight);
  --text-mat-display-small: var(--mat-sys-typescale-display-small-size);
  --text-mat-display-small--line-height: var(--mat-sys-typescale-display-small-line-height);
  --text-mat-display-small--letter-spacing: var(--mat-sys-typescale-display-small-tracking);
  --text-mat-display-small--font-weight: var(--mat-sys-typescale-display-small-weight);
  --text-mat-emphasized-display-small: var(--mat-sys-typescale-emphasized-display-small-size);
  --text-mat-emphasized-display-small--line-height: var(--mat-sys-typescale-emphasized-display-small-line-height);
  --text-mat-emphasized-display-small--letter-spacing: var(--mat-sys-typescale-emphasized-display-small-tracking);
  --text-mat-emphasized-display-small--font-weight: var(--mat-sys-typescale-emphasized-display-small-weight);
  --text-mat-headline-large: var(--mat-sys-typescale-headline-large-size);
  --text-mat-headline-large--line-height: var(--mat-sys-typescale-headline-large-line-height);
  --text-mat-headline-large--letter-spacing: var(--mat-sys-typescale-headline-large-tracking);
  --text-mat-headline-large--font-weight: var(--mat-sys-typescale-headline-large-weight);
  --text-mat-emphasized-headline-large: var(--mat-sys-typescale-emphasized-headline-large-size);
  --text-mat-emphasized-headline-large--line-height: var(--mat-sys-typescale-emphasized-headline-large-line-height);
  --text-mat-emphasized-headline-large--letter-spacing: var(--mat-sys-typescale-emphasized-headline-large-tracking);
  --text-mat-emphasized-headline-large--font-weight: var(--mat-sys-typescale-emphasized-headline-large-weight);
  --text-mat-headline-medium: var(--mat-sys-typescale-headline-medium-size);
  --text-mat-headline-medium--line-height: var(--mat-sys-typescale-headline-medium-line-height);
  --text-mat-headline-medium--letter-spacing: var(--mat-sys-typescale-headline-medium-tracking);
  --text-mat-headline-medium--font-weight: var(--mat-sys-typescale-headline-medium-weight);
  --text-mat-emphasized-headline-medium: var(--mat-sys-typescale-emphasized-headline-medium-size);
  --text-mat-emphasized-headline-medium--line-height: var(--mat-sys-typescale-emphasized-headline-medium-line-height);
  --text-mat-emphasized-headline-medium--letter-spacing: var(--mat-sys-typescale-emphasized-headline-medium-tracking);
  --text-mat-emphasized-headline-medium--font-weight: var(--mat-sys-typescale-emphasized-headline-medium-weight);
  --text-mat-headline-small: var(--mat-sys-typescale-headline-small-size);
  --text-mat-headline-small--line-height: var(--mat-sys-typescale-headline-small-line-height);
  --text-mat-headline-small--letter-spacing: var(--mat-sys-typescale-headline-small-tracking);
  --text-mat-headline-small--font-weight: var(--mat-sys-typescale-headline-small-weight);
  --text-mat-emphasized-headline-small: var(--mat-sys-typescale-emphasized-headline-small-size);
  --text-mat-emphasized-headline-small--line-height: var(--mat-sys-typescale-emphasized-headline-small-line-height);
  --text-mat-emphasized-headline-small--letter-spacing: var(--mat-sys-typescale-emphasized-headline-small-tracking);
  --text-mat-emphasized-headline-small--font-weight: var(--mat-sys-typescale-emphasized-headline-small-weight);
  --text-mat-title-large: var(--mat-sys-typescale-title-large-size);
  --text-mat-title-large--line-height: var(--mat-sys-typescale-title-large-line-height);
  --text-mat-title-large--letter-spacing: var(--mat-sys-typescale-title-large-tracking);
  --text-mat-title-large--font-weight: var(--mat-sys-typescale-title-large-weight);
  --text-mat-emphasized-title-large: var(--mat-sys-typescale-emphasized-title-large-size);
  --text-mat-emphasized-title-large--line-height: var(--mat-sys-typescale-emphasized-title-large-line-height);
  --text-mat-emphasized-title-large--letter-spacing: var(--mat-sys-typescale-emphasized-title-large-tracking);
  --text-mat-emphasized-title-large--font-weight: var(--mat-sys-typescale-emphasized-title-large-weight);
  --text-mat-title-medium: var(--mat-sys-typescale-title-medium-size);
  --text-mat-title-medium--line-height: var(--mat-sys-typescale-title-medium-line-height);
  --text-mat-title-medium--letter-spacing: var(--mat-sys-typescale-title-medium-tracking);
  --text-mat-title-medium--font-weight: var(--mat-sys-typescale-title-medium-weight);
  --text-mat-emphasized-title-medium: var(--mat-sys-typescale-emphasized-title-medium-size);
  --text-mat-emphasized-title-medium--line-height: var(--mat-sys-typescale-emphasized-title-medium-line-height);
  --text-mat-emphasized-title-medium--letter-spacing: var(--mat-sys-typescale-emphasized-title-medium-tracking);
  --text-mat-emphasized-title-medium--font-weight: var(--mat-sys-typescale-emphasized-title-medium-weight);
  --text-mat-title-small: var(--mat-sys-typescale-title-small-size);
  --text-mat-title-small--line-height: var(--mat-sys-typescale-title-small-line-height);
  --text-mat-title-small--letter-spacing: var(--mat-sys-typescale-title-small-tracking);
  --text-mat-title-small--font-weight: var(--mat-sys-typescale-title-small-weight);
  --text-mat-emphasized-title-small: var(--mat-sys-typescale-emphasized-title-small-size);
  --text-mat-emphasized-title-small--line-height: var(--mat-sys-typescale-emphasized-title-small-line-height);
  --text-mat-emphasized-title-small--letter-spacing: var(--mat-sys-typescale-emphasized-title-small-tracking);
  --text-mat-emphasized-title-small--font-weight: var(--mat-sys-typescale-emphasized-title-small-weight);
  --text-mat-body-large: var(--mat-sys-typescale-body-large-size);
  --text-mat-body-large--line-height: var(--mat-sys-typescale-body-large-line-height);
  --text-mat-body-large--letter-spacing: var(--mat-sys-typescale-body-large-tracking);
  --text-mat-body-large--font-weight: var(--mat-sys-typescale-body-large-weight);
  --text-mat-emphasized-body-large: var(--mat-sys-typescale-emphasized-body-large-size);
  --text-mat-emphasized-body-large--line-height: var(--mat-sys-typescale-emphasized-body-large-line-height);
  --text-mat-emphasized-body-large--letter-spacing: var(--mat-sys-typescale-emphasized-body-large-tracking);
  --text-mat-emphasized-body-large--font-weight: var(--mat-sys-typescale-emphasized-body-large-weight);
  --text-mat-body-medium: var(--mat-sys-typescale-body-medium-size);
  --text-mat-body-medium--line-height: var(--mat-sys-typescale-body-medium-line-height);
  --text-mat-body-medium--letter-spacing: var(--mat-sys-typescale-body-medium-tracking);
  --text-mat-body-medium--font-weight: var(--mat-sys-typescale-body-medium-weight);
  --text-mat-emphasized-body-medium: var(--mat-sys-typescale-emphasized-body-medium-size);
  --text-mat-emphasized-body-medium--line-height: var(--mat-sys-typescale-emphasized-body-medium-line-height);
  --text-mat-emphasized-body-medium--letter-spacing: var(--mat-sys-typescale-emphasized-body-medium-tracking);
  --text-mat-emphasized-body-medium--font-weight: var(--mat-sys-typescale-emphasized-body-medium-weight);
  --text-mat-body-small: var(--mat-sys-typescale-body-small-size);
  --text-mat-body-small--line-height: var(--mat-sys-typescale-body-small-line-height);
  --text-mat-body-small--letter-spacing: var(--mat-sys-typescale-body-small-tracking);
  --text-mat-body-small--font-weight: var(--mat-sys-typescale-body-small-weight);
  --text-mat-emphasized-body-small: var(--mat-sys-typescale-emphasized-body-small-size);
  --text-mat-emphasized-body-small--line-height: var(--mat-sys-typescale-emphasized-body-small-line-height);
  --text-mat-emphasized-body-small--letter-spacing: var(--mat-sys-typescale-emphasized-body-small-tracking);
  --text-mat-emphasized-body-small--font-weight: var(--mat-sys-typescale-emphasized-body-small-weight);
  --text-mat-label-large: var(--mat-sys-typescale-label-large-size);
  --text-mat-label-large--line-height: var(--mat-sys-typescale-label-large-line-height);
  --text-mat-label-large--letter-spacing: var(--mat-sys-typescale-label-large-tracking);
  --text-mat-label-large--font-weight: var(--mat-sys-typescale-label-large-weight);
  --text-mat-emphasized-label-large: var(--mat-sys-typescale-emphasized-label-large-size);
  --text-mat-emphasized-label-large--line-height: var(--mat-sys-typescale-emphasized-label-large-line-height);
  --text-mat-emphasized-label-large--letter-spacing: var(--mat-sys-typescale-emphasized-label-large-tracking);
  --text-mat-emphasized-label-large--font-weight: var(--mat-sys-typescale-emphasized-label-large-weight);
  --text-mat-label-medium: var(--mat-sys-typescale-label-medium-size);
  --text-mat-label-medium--line-height: var(--mat-sys-typescale-label-medium-line-height);
  --text-mat-label-medium--letter-spacing: var(--mat-sys-typescale-label-medium-tracking);
  --text-mat-label-medium--font-weight: var(--mat-sys-typescale-label-medium-weight);
  --text-mat-emphasized-label-medium: var(--mat-sys-typescale-emphasized-label-medium-size);
  --text-mat-emphasized-label-medium--line-height: var(--mat-sys-typescale-emphasized-label-medium-line-height);
  --text-mat-emphasized-label-medium--letter-spacing: var(--mat-sys-typescale-emphasized-label-medium-tracking);
  --text-mat-emphasized-label-medium--font-weight: var(--mat-sys-typescale-emphasized-label-medium-weight);
  --text-mat-label-small: var(--mat-sys-typescale-label-small-size);
  --text-mat-label-small--line-height: var(--mat-sys-typescale-label-small-line-height);
  --text-mat-label-small--letter-spacing: var(--mat-sys-typescale-label-small-tracking);
  --text-mat-label-small--font-weight: var(--mat-sys-typescale-label-small-weight);
  --text-mat-emphasized-label-small: var(--mat-sys-typescale-emphasized-label-small-size);
  --text-mat-emphasized-label-small--line-height: var(--mat-sys-typescale-emphasized-label-small-line-height);
  --text-mat-emphasized-label-small--letter-spacing: var(--mat-sys-typescale-emphasized-label-small-tracking);
  --text-mat-emphasized-label-small--font-weight: var(--mat-sys-typescale-emphasized-label-small-weight);
  --shadow-mat-level0: var(--mat-sys-elevation-level0);
  --shadow-mat-level1: var(--mat-sys-elevation-level1);
  --shadow-mat-level2: var(--mat-sys-elevation-level2);
  --shadow-mat-level3: var(--mat-sys-elevation-level3);
  --shadow-mat-level4: var(--mat-sys-elevation-level4);
  --shadow-mat-level5: var(--mat-sys-elevation-level5);
  --ease-mat-emphasized: var(--mat-sys-motion-easing-emphasized);
  --ease-mat-emphasized-decelerate: var(--mat-sys-motion-easing-emphasized-decelerate);
  --ease-mat-emphasized-accelerate: var(--mat-sys-motion-easing-emphasized-accelerate);
  --ease-mat-standard: var(--mat-sys-motion-easing-standard);
  --ease-mat-standard-decelerate: var(--mat-sys-motion-easing-standard-decelerate);
  --ease-mat-standard-accelerate: var(--mat-sys-motion-easing-standard-accelerate);
}
