@theme inline {
  --color-mat-primary: var(--mat-color-primary);
  --color-mat-on-primary: var(--mat-color-on-primary);
  --color-mat-primary-container: var(--mat-color-primary-container);
  --color-mat-on-primary-container: var(--mat-color-on-primary-container);
  --color-mat-primary-fixed: var(--mat-color-primary-fixed);
  --color-mat-primary-fixed-dim: var(--mat-color-primary-fixed-dim);
  --color-mat-on-primary-fixed: var(--mat-color-on-primary-fixed);
  --color-mat-on-primary-fixed-variant: var(--mat-color-on-primary-fixed-variant);
  --color-mat-secondary: var(--mat-color-secondary);
  --color-mat-on-secondary: var(--mat-color-on-secondary);
  --color-mat-secondary-container: var(--mat-color-secondary-container);
  --color-mat-on-secondary-container: var(--mat-color-on-secondary-container);
  --color-mat-secondary-fixed: var(--mat-color-secondary-fixed);
  --color-mat-secondary-fixed-dim: var(--mat-color-secondary-fixed-dim);
  --color-mat-on-secondary-fixed: var(--mat-color-on-secondary-fixed);
  --color-mat-on-secondary-fixed-variant: var(--mat-color-on-secondary-fixed-variant);
  --color-mat-tertiary: var(--mat-color-tertiary);
  --color-mat-on-tertiary: var(--mat-color-on-tertiary);
  --color-mat-tertiary-container: var(--mat-color-tertiary-container);
  --color-mat-on-tertiary-container: var(--mat-color-on-tertiary-container);
  --color-mat-tertiary-fixed: var(--mat-color-tertiary-fixed);
  --color-mat-tertiary-fixed-dim: var(--mat-color-tertiary-fixed-dim);
  --color-mat-on-tertiary-fixed: var(--mat-color-on-tertiary-fixed);
  --color-mat-on-tertiary-fixed-variant: var(--mat-color-on-tertiary-fixed-variant);
  --color-mat-error: var(--mat-color-error);
  --color-mat-on-error: var(--mat-color-on-error);
  --color-mat-error-container: var(--mat-color-error-container);
  --color-mat-on-error-container: var(--mat-color-on-error-container);
  --color-mat-background: var(--mat-color-background);
  --color-mat-on-background: var(--mat-color-on-background);
  --color-mat-surface: var(--mat-color-surface);
  --color-mat-surface-dim: var(--mat-color-surface-dim);
  --color-mat-surface-bright: var(--mat-color-surface-bright);
  --color-mat-surface-container-lowest: var(--mat-color-surface-container-lowest);
  --color-mat-surface-container: var(--mat-color-surface-container);
  --color-mat-surface-container-low: var(--mat-color-surface-container-low);
  --color-mat-surface-container-high: var(--mat-color-surface-container-high);
  --color-mat-surface-container-highest: var(--mat-color-surface-container-highest);
  --color-mat-on-surface: var(--mat-color-on-surface);
  --color-mat-surface-variant: var(--mat-color-surface-variant);
  --color-mat-on-surface-variant: var(--mat-color-on-surface-variant);
  --color-mat-outline: var(--mat-color-outline);
  --color-mat-outline-variant: var(--mat-color-outline-variant);
  --color-mat-inverse-surface: var(--mat-color-inverse-surface);
  --color-mat-inverse-on-surface: var(--mat-color-inverse-on-surface);
  --color-mat-inverse-primary: var(--mat-color-inverse-primary);
  --color-mat-shadow: var(--mat-color-shadow);
  --color-mat-scrim: var(--mat-color-scrim);
  --color-mat-surface-tint: var(--mat-color-surface-tint);
  --radius-mat-xs: var(--mat-shape-corner-extra-small);
  --radius-mat-sm: var(--mat-shape-corner-small);
  --radius-mat-md: var(--mat-shape-corner-medium);
  --radius-mat-lg: var(--mat-shape-corner-large);
  --radius-mat-xl: var(--mat-shape-corner-extra-large);
  --radius-mat-full: var(--mat-shape-corner-full);
  --text-mat-label-large: var(--mat-type-label-large-size);
  --text-mat-label-large--line-height: var(--mat-type-label-large-line-height);
  --text-mat-label-large--font-weight: var(--mat-type-label-large-weight);
  --text-mat-body-medium: var(--mat-type-body-medium-size);
  --text-mat-body-medium--line-height: var(--mat-type-body-medium-line-height);
  --text-mat-title-large: var(--mat-type-title-large-size);
  --text-mat-title-large--line-height: var(--mat-type-title-large-line-height);
  --shadow-mat-1: var(--mat-shadow-level-1);
  --shadow-mat-2: var(--mat-shadow-level-2);
  --shadow-mat-3: var(--mat-shadow-level-3);
  --ease-mat-standard: var(--mat-motion-easing-standard);
  --ease-mat-emphasized: var(--mat-motion-easing-emphasized);
}
